[Unit]
Description=BMS IVC Server
Requires=docker.service

[Service]
Type=forking
RemainAfterExit=yes

EnvironmentFile=/etc/ivc/ivc-server.conf

ExecStart=/usr/bin/docker run -d --name ivc-server --restart on-failure:5 -v /opt/ivc:/opt/ivc -p ${LISTEN_ADDR}:${PORT}-${ENDPORT}:9987-9989/udp 108vfs/ivc ${PASSWD}

ExecStop=/usr/bin/docker stop ivc-server
ExecStopPost=/usr/bin/docker rm -f ivc-server

ExecReload=/usr/bin/docker restart ivc-server

[Install]
WantedBy=multi-user.target
Alias=ivc.service

